*.class
*.log
.idea/
logs/
target/
data/*
metastore_db/

# Files generated automatically by lh.bash
/docker-compose.yml
/.postgres_data_version

/sparkjars/
/lib_managed/
/service/tmpModelForNumeric/
/service/tmpModelForText/

!service/conf/resources/models

.DS_Store
derby.log
test.out
error.txt
work

*.iml
*.crc
*.swp
*.swo
*.pyc

.venv/